/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray : #7a8288;
$dark-gray : mix(#000, $gray, 40%);
$darker-gray : mix(#000, $gray, 60%);
$light-gray : mix(#fff, $gray, 50%);
$lighter-gray : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color : #ee5f5b;
$info-color : #2f7f93;
$notice-color : #7a8288;
$success-color : #62c462;
$warning-color : #f89406;

/* Other basic settings for the template */
$border-radius : 4px;
$box-shadow : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition : all 0.2s ease-in-out;
$masthead-height : 70px;
$navicon-width : 28px;
$navicon-height : 4px;
$sidebar-link-max-width : 250px;
$sidebar-screen-min-width : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color: #006600;
    --global-bg-color: #f0f0f0;
    --global-footer-bg-color: #e8e8e8;
    --global-border-color: #88cc88;
    --global-dark-border-color: #66aa66;
    --global-code-background-color: #e8e8e8;
    --global-code-text-color: #006600;
    --global-fig-caption-color: #008800;
    --global-link-color: #008800;
    --global-link-color-hover: #005500;
    --global-link-color-visited: #006600;
    --global-masthead-link-color: #006600;
    --global-masthead-link-color-hover: #005500;
    --global-text-color: #006600;
    --global-text-color-light: #008800;
    --global-thead-color: #d8d8d8;
}