/* ==========================================================================
   DARK THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray : #7a8288;
$dark-gray : mix(#000, $gray, 40%);
$darker-gray : mix(#000, $gray, 60%);
$light-gray : mix(#fff, $gray, 50%);

$background : #0a0a0a;
$background-light : #1a1a1a;
$background-lighter : #2a2a2a;
$text : #00ff00;
$link : #00ff00;
$link-dark : #00cc00;
$link-light : #33ff33;

/* Color codes used for the site */
$danger-color : #ee5f5b;
$info-color : #2f7f93;
$notice-color : #7a8288;
$success-color : #62c462;
$warning-color : #f89406;

/* Other basic settings for the template */
$border-radius : 4px;
$box-shadow : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition : all 0.2s ease-in-out;
$masthead-height : 70px;
$navicon-width : 28px;
$navicon-height : 4px;
$sidebar-link-max-width : 250px;
$sidebar-screen-min-width : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color : #{$background};
    --global-bg-color : #{$background};
    --global-footer-bg-color : #{$background};
    --global-border-color: #004400;
    --global-dark-border-color : #{$background-light};
    --global-code-background-color: #{$background-light};
    --global-code-text-color : #{$text};
    --global-fig-caption-color : #{$link-dark};
    --global-link-color : #{$link};
    --global-link-color-hover : #{$link-light};
    --global-link-color-visited : #{$link-dark};
    --global-masthead-link-color : #{$text};
    --global-masthead-link-color-hover : #{$link-light};
    --global-text-color : #{$text};
    --global-text-color-light: #{$link-dark};
    --global-thead-color : #{$background-lighter};
}